*{
	padding: 0;
	margin: 0;
}
span a{
	text-decoration: none;
	color: #befbff;
	text-shadow: 0px 0px 10px #ff85a7,0px 0px 10px #ff85a7;
}
footer a{
	text-decoration: none;
	color: #FC5B00;
}

.menu{
	position: absolute;
	top: 25em;
	width: 100%;
	text-align: center;
}


li{
	display: inline-block;
	padding: 0em .4em;
}

.fondo__1{
	display: inline-block;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, #ffce8f, #ffbd97, #ffacb0, #ffa4d6, #ffa7ff);
 }

.constelacion {
	position: absolute;
	z-index: -1;
	mix-blend-mode:color-burn;
	left: 28%;
}

h1{
	padding-top: 1em;
	display: block;
	font-family: 'Libre Barcode 39 Text', cursive;
	font-size: 4.4em;
	color: #006f8a;
	text-align: center;
	letter-spacing: 10px;
}



button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 25px;
  background: #333;
  border: none;
  color: #fff;
}

button:hover {
  letter-spacing: 0.25em;
  background: #ff1867;
  color: #ff1867;
  box-shadow: 0 0 45px #ff1867;
}

button::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #222222;
}

button span {
  position: relative;
  z-index: 1;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: '';
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::before {
  width: 20px;
  left: 20%;
}

button i::after {
  content: '';
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::after {
  width: 20px;
  left: 80%;
}



.parrafo{
	padding-top: .1em;
	text-align: center;
	color: #006f8a;
	font-family: 'Fredericka the Great', cursive;
	margin: 10px;
	font-size: 3.5em;
}



.piedepagina{
	position: fixed;
	bottom: 2px;
	color: #000;
	display: inline-block;
}


/* From uiverse.io by @satyamchaudharydev */
.card {
  --bg: transparent; /*color fondo principal*/
  --hover-bg: background-image: radial-gradient(circle, #ffdc7b, #d8eb8d, #b2f6ae, #92fcd5, #82fff9);/*color fondo secundario*/
  --hover-text: #000;/*color texto secundario*/
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: fixed;
  overflow: hidden;
  transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  bottom: 30px;
  right: 30px;
}

.card__body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
}

.card > :not(span) {
  transition: .3s cubic-bezier(.6,.4,0,1);
}

.card > strong {
  display: block;
  font-size: 2em;
  letter-spacing: -.035em;
  color: ;
  font-family: 'Annie Use Your Telescope', cursive;
}

.card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6,.4,0,1);
  font-family: 'Averia Serif Libre', cursive;
}

.card:hover span {
  top: 0;
  font-size: 1.2em;
}

.card:hover {
 background-color: transparent;
}

.card:hover>div,.card:hover>strong {
  opacity: 0;
}