*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #fff;
	text-shadow: 0px 0px 7px #fff;
}

.menu{
	position: absolute;
	top: 25em;
	width: 100%;
	text-align: center;
}


li{
	display: inline-block;
	padding: 0em .4em;
}

.fondo__1{
	display: inline-block;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
 	background-image: linear-gradient(to top, #000000, #1e0a10, #320f1a, #480f22, #5f0c29, #5f0c29, #5f0c29, #5f0c29, #480f22, #320f1a, #1e0a10, #000000);
}

.constelacion {
	position: absolute;
	z-index: -1;
	mix-blend-mode:color-burn;
	left: 28%;
}

h1{
	padding-top: 1.3em;
	display: block;
	font-family: 'Rock Salt', cursive;
	font-size:3.4em;
	color: #00ffe1;
	text-shadow: 0px 0px 30px #00BBF9, 0px 0px 25px #00BBF9, 0px 0px 20px #00BBF9;
	text-align: center;
	letter-spacing: 5px;
}


button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 25px;
  background: #333;
  border: none;
  color: #fff;
}

button:hover {
  letter-spacing: 0.25em;
  background: #ff1867;
  color: #ff1867;
  box-shadow: 0 0 45px #ff1867;
}

button::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #222222;
}

button span {
  position: relative;
  z-index: 1;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: '';
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::before {
  width: 20px;
  left: 20%;
}

button i::after {
  content: '';
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::after {
  width: 20px;
  left: 80%;
}



.parrafo{
	padding-top: .5em;
	text-align: center;
	color: #fff;
	font-family: 'Fredericka the Great', cursive;
	margin: 10px;
	font-size: 3em;
}



.piedepagina{
	position: absolute;
	bottom: 0;
	color: #fff;
}